* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

body {
  background-color: #efefef;
  position: relative;
}

/* SIDEBAR_PHONE */
.toggle_sidebar {
  cursor: pointer;
  display: none;
}
.sidebar_phone {
  display: none;
}
.container_sidebar_phone {
  position: fixed;
  top: 0;
  width: 300px;
  height: 100vh;
  background-color: #fff;
  z-index: 9999999;
  padding: 0;
}
.container_sidebar_phone .container_toggle {
  padding: 0 4px 0 1rem;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #e3e3e3;
}

.container_sidebar_phone .container_toggle img {
  padding: 8px;
  cursor: pointer;
}

.container_sidebar_phone .title {
  font-size: 19px;
  color: #242424;
  font-weight: 700;
  line-height: 1.5;
}

.outside_sidebar_phone {
  position: fixed;
  top: 0;
  width: calc(100vw - 300px);
  margin-left: 300px;
  height: 100vh;
  background-color: #fff;
  z-index: 9999999;
  background: #090909;
  opacity: 0.5;
}

.introduce_community {
  padding: 1rem;
  background-color: #f9f9f9;
  border-radius: 5px;
  border: 1px solid #e3e3e3;
}

.introduce_community .brand_text {
  color: #3b49df;
}

.introduce_community .introduce_title {
  font-size: 19px;
  color: #242424;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}

.introduce_community .introduce_content {
  color: #575757;
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.5;
}

.introduce_community button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  transition: cubic(0.17, 0.67, 0.5, 0.71) 100ms;
}

.introduce_community .container_button_login button {
  background-color: #f9f9f9;
  width: 100%;
  color: #3b49df;
}

.introduce_community .container_button_register button {
  background-color: #3b49df;
  color: #fff;
  margin-bottom: 8px;
}

.introduce_community .container_button_register button:hover {
  background-color: #323ebe;
  color: #f9f9f9;
}

.sidebar_navigation {
  margin-top: 1rem;
}

.sidebar_navigation .title_navigation {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.sidebar_navigation .container_item {
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: background cubic(0.17, 0.67, 0.5, 0.71) 100ms,
    color cubic(0.17, 0.67, 0.5, 0.71) 100ms;
}
.sidebar_navigation .container_item p {
  margin: 0;
}
.sidebar_navigation .container_item:hover {
  background-color: rgba(9, 9, 9, 0.05);
  transition: background cubic(0.17, 0.67, 0.5, 0.71) 100ms,
    color cubic(0.17, 0.67, 0.5, 0.71) 100ms;
}

.sidebar_navigation .container_item:hover p {
  color: #323ebe;
}

.sidebar_navigation .container_item p {
  color: #242424;
}

.sidebar_navigation .container_item img {
  margin-right: 8px;
}

/* Navigation Menu */
/* Navigation Menu */
/* Navigation Menu */

.introduce_community button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  transition: cubic(0.17, 0.67, 0.5, 0.71) 100ms;
}

.introduce_community .container_button_login button {
  background-color: #f9f9f9;
  width: 100%;
  color: #3b49df;
}
.main
  .main_container_left
  .introduce_community
  .container_button_login
  button:hover {
  background-color: rgba(0, 0, 0, 0.035);
}

.introduce_community .container_button_register button {
  background-color: #3b49df;
  color: #fff;
  margin-bottom: 8px;
}

.introduce_community .container_button_register button:hover {
  background-color: #323ebe;
  color: #f9f9f9;
}

/* HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER   */
/* HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER   */
/* HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER   */
/* HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER   */

header {
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 9999;
}

header .container_header {
  max-width: 1280px;
  height: 56px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* container_left */
/* container_left */
header .container_left {
  display: flex;
  align-items: center;
}

header .toggle_sidebar {
  display: none;
}

header .container_logo img {
  width: 50px;
  height: auto;
}

header .container_left .container_searchBar {
  position: relative;
  width: 420px;
  margin: 0 1rem;
  /* height: 40px; */
}

header .container_left .container_searchBar .container_icon {
  position: absolute;
  right: 0;
  bottom: 50%;
  transform: translate(0, 50%);
  padding: 4px;
  height: 32px;
  width: 32px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: cubic(0.17, 0.67, 0.5, 0.71) 100ms;
}

header .container_left .container_searchBar .container_icon:hover {
  background-color: rgba(0, 0, 0, 0.035);
  border-radius: 50%;
}

header .container_left .container_searchBar .container_icon .fa-search {
  color: #484848;
}

header .container_left .container_searchBar input {
  width: 100%;
  padding: calc(0.5em - 1px) 0.5em;
  line-height: 1.5;
  font-size: 1rem;
  font-family: inherit;
  color: #000;
  border: 1px solid #bdbdbd;
  background-color: #f9f9f9;
  border-radius: 5px;
  outline-color: #3b49df;
}

header .container_left .container_searchBar input::placeholder {
  line-height: 1.5;
  font-size: 1rem;
  font-family: inherit;
  color: #717171;
}

/* container_right */
/* container_right */

header .container_right {
  display: flex;
  align-items: center;
  justify-content: center;
}

header .container_right button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  margin-right: 8px;
  transition: cubic(0.17, 0.67, 0.5, 0.71) 100ms;
}

header .container_right .container_button_login button {
  background-color: #fff;
  color: #3b49df;
}

header .container_right .container_button_login button:hover {
  background-color: rgba(0, 0, 0, 0.035);
}

header .container_right .container_button_register button {
  background-color: #3b49df;
  color: #fff;
}

header .container_right .container_button_register button:hover {
  background-color: #323ebe;
  color: #f9f9f9;
}

/* dropdown-category */
/* dropdown-category */
/* dropdown-category */

.dropdown_category {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
}
.container_category {
  font-size: 14px;
  color: #242424;
  font-weight: 300;
}

.dropdown_category:hover .dropdown_category_content {
  display: block;
}

.dropdown_category:hover .container_category {
  color: #3b49df;
}

.dropdown_category:hover::after {
  content: "";
  position: absolute;
  bottom: -3rem;
  left: 0;
  height: 60px;
  width: 150px;
  background-color: transparent;
}

.dropdown_category_content {
  display: none;
  position: absolute;
  background-color: #fff;
  /* padding: 0.5rem; */
  margin-top: 1rem;
  left: 0;
  min-width: 260px;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.3);
  z-index: 99999999999999;
  padding: 0.5rem 0;
}

.dropdown_category_item {
  cursor: pointer;
  padding: 0 0.5rem;
}
.dropdown_category_item a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
}

.dropdown_category_item a:hover {
  background-color: rgba(231, 231, 231, 0.445);
  border-radius: 5px;
  color: #323ebe;
}

/* DROPDOWN BUTTON */
.dropbtn {
  display: flex;
  align-items: center;
}
.dropbtn img {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin: 0 0.65rem 0 0.6rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  /* padding: 0.5rem; */
  margin-top: 0.5rem;
  right: 0;
  min-width: 260px;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.3);
  z-index: 99999999999999;
}

.dropdown-content .item {
  padding: 0 0.5rem;
  cursor: pointer;
}

.dropdown-content .item-top {
  cursor: pointer;
  padding: 0.5rem;
  border-bottom: 1px solid #e3e3e3;
}

.dropdown-content .item-bottom {
  cursor: pointer;
  padding: 0.5rem;
  border-top: 1px solid #e3e3e3;
}

.dropdown-content .item-top h2 {
  font-size: 16px;
  line-height: 1.5;
}

.dropdown-content .item-top p {
  font-size: 14px;
  line-height: 1.5;
  color: #575757;
}

.dropdown-content a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover::after {
  content: "";
  position: absolute;
  bottom: -3rem;
  left: -100px;
  height: 60px;
  width: 150px;
  background-color: transparent;
}

.dropdown-content a:hover {
  background-color: rgba(231, 231, 231, 0.445);
  border-radius: 5px;
  color: #323ebe;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.icon_notification_container {
  padding: 1rem;
  margin-right: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.2s;
}

.icon_notification_container:hover {
  background-color: rgb(231, 231, 231);
}
/* END OF HEADER END OF HEADER END OF HEADER END OF HEADER END OF HEADER  */
/* END OF HEADER END OF HEADER END OF HEADER END OF HEADER END OF HEADER  */
/* END OF HEADER END OF HEADER END OF HEADER END OF HEADER END OF HEADER  */
/* END OF HEADER END OF HEADER END OF HEADER END OF HEADER END OF HEADER  */

/* Footer */
/* Footer */
/* Footer */
/* Footer */

footer {
  background-color: #d6d6d7;
  margin-top: 35px;
}

footer .container_footer {
  max-width: 1280px;
  margin: 0 auto;
  padding: 3rem 3rem 0rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .container_footer .about_us {
  color: #fff;
  text-align: center;
  margin-bottom: 0.5rem;
}

footer .container_footer p {
  color: #575757;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}

footer .container_footer div {
  width: 50%;
}
footer .text_footer_container {
  padding: 0rem 0.5rem 3rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .text_footer_container img {
  padding: 1rem;
}

footer .text_footer {
  cursor: pointer;
  /* text-align: center; */
  line-height: 1.5;
  color: #575757;
  font-size: 14px;
}
footer .text_footer_strong {
  color: #242424;
  font-weight: 500;
}

/* cover */
/* cover */
/* cover */

.cover {
  width: 100%;
  background-color: #24292f;
  height: 183px;
  position: absolute;
  top: 0;
}

/* container */
/* container */
/* container */
.container {
  max-width: 994px;
  margin: 0 auto;
}

.user-nopost {
  text-align: center;
  margin-top: 50px;
}

/* info */
/* info */

.info {
  width: 100%;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  background-color: #fff;
  position: relative;
  padding-bottom: 40px;
  padding-left: 25px;
  padding-right: 25px;
  top: 124px;
}

.profile-avt {
  width: 140px;
  height: 140px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile-avt img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 8px solid #24292f;
}

.info-content {
  text-align: center;
}

.info-name {
  font-weight: 800;
  font-size: 1.875rem;
  padding-top: 5rem;
  padding-bottom: 20px;
}

/* main-content  */
/* main-content  */
/* main-content  */

.main-content {
  background-color: #efefef;
  margin-top: 140px;
}

.main-content .time {
  font-size: 14px;
  color: #717171;
  margin-bottom: 10px;
}

.main-content .post-title {
  font-size: 30px;
  font-weight: 800;
}

.main-content .post-title:hover {
  color: #323ebe;
  cursor: pointer;
}

.main-content .post-tag {
  font-size: 14px;
  color: #717171;
}

.main-content .post-tag:hover {
  color: #242424;
}

.main-content .post-tag .hash {
  opacity: 0.4;
}
.main-content .statistic {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-content .reaction_and_comments {
  display: flex;
  align-items: center;
}

.main-content .reaction_and_comments div {
  display: flex;
  cursor: pointer;
  align-items: center;
  padding: 4px 8px;
  transition: all 0.3s;
  border-radius: 5px;
}

.main-content .reaction_and_comments div:hover {
  background-color: rgba(0, 0, 0, 0.035);
}
.main-content .reaction_and_comments div p {
  font-size: 14px;
  color: #3d3d3d;
}

.main-content .reaction_and_comments img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.posted-post {
  background-color: #fff;
  border: 1px solid #e3e3e3;
  padding: 26px;
  border-radius: 5px;
  cursor: pointer;
}

.main-content .post-tag {
  padding: 10px 0px;
  padding-right: 10px;
  cursor: pointer;
}

.main-content .post-tags {
  display: flex;
}

.row {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.posted-posts {
  margin-left: 16px;
}

.posted-posts .posted-post:not(:last-child) {
  margin-bottom: 12px;
}

.row .user-info {
  width: 25%;
}
.row .posted-posts {
  width: 75%;
}

/* user-info */
/* user-info */
/* user-info */
.user-info {
  background-color: #fff;
  border-radius: 5px;
  height: auto;
  padding: 20px;
  border: 1px solid #e3e3e3;
}

.user-info .user-info-item {
  margin-bottom: 12px;
}

.user-info .user-info-item i {
  color: #f7df1e;
  margin-top: 5px;
}

.user-info .user-info-item p {
  font-size: 1rem;
  color: #575757;
  font-weight: 300;
}

/* responsive */
/* responsive */
/* responsive */

/* main-content */
/* main-content */
/* main-content */
@media screen and (max-width: 768px) {
  .row {
    display: block;
  }
  .row .user-info {
    width: 100%;
    margin-top: 136px;
    margin-bottom: 16px;
  }
  .row .posted-posts {
    width: 100%;
    margin: 0;
  }
  .main-content {
    margin: 0 10px;
  }
}

/* toggle_sidebar */
/* toggle_sidebar */
/* toggle_sidebar */
@media screen and (max-width: 768px) {
  header .toggle_sidebar {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header .container_header {
    padding: 0;
  }
  header .container_left .container_searchBar {
    position: relative;
    width: 360px;
    margin: 0 1rem;
  }
  header .container_left .container_searchBar {
    position: relative;
    /* width: 100px; */
    display: none;
    margin: 0 1rem;
    /* height: 40px; */
  }

  header .container_right .container_button_login {
    display: none;
  }
  .main .main_container_left {
    display: none;
    padding: 0 0.5rem;
  }

  .main .container_main {
    padding: 0.5rem 0;
  }

  .main .main_container_middle {
    width: 100%;
    padding: 0 12px;
  }

  .main
    .main_container_middle
    .container_posts
    .container_info_post
    .post_info
    .title_post {
    font-size: 24px;
  }
}
